<link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
<style>
  #login{
    width:60%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    background-color:white;
  }
  #workblock{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
</style>

<%= link_to 'Back', movies_path , :style => "position: fixed; right:30px;", :class=>'btn btn-primary' %>

<div id="workblock">
<div id="login">
<div style="color:black;">
<p>
  <strong style="font-size:30px;"><%= @movie.title %></strong>
</p>
<div style="padding:10px;" class="shadow p-3 mb-5 bg-white rounded">
<%= image_tag(@movie.image,style:"height:400px;")%>
</div>

<p>
  <%= @movie.body %>
</p>

<div style="width:100%; display: flex; justify-content:flex-end;">
  <p style="">
    <i>Posted By: <%= User.where(id: @movie.user_id).first.email %></i>
  </p>
</div>

<p><b><i><%= @movie.comments.count %> Comments</i></b></p>
<%= render @movie.comments %>

<h5>Add a Comment</h5>
<%= render 'comments/form' %>
<br>

</div>
</div>
</div>